src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5100cb6c-bdfd-4b9c-bcca-1104634d4699" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="d093e700-ed77-42aa-9c14-ad50ab3a3bed" >
		<http:listener doc:name="Listener" doc:id="9049984f-5d70-4cb4-9eaa-3f3292168f3a" config-ref="HTTP_Listener_config" path="/test1"/>
		<logger level="INFO" doc:name="Logger" doc:id="9b71d4e4-5888-4890-8014-aa2ae0402d60" message="intial project"/>
		<set-payload value="#['This is my first example in Mulesoft']" doc:name="Set Payload" doc:id="31b55904-0465-457c-a00a-cb5d10d48066" />
	</flow>
</mule>
